@font-face {
    font-family: "work_sans";
    src: url("/fonts/Work_Sans/static/WorkSans-Bold.ttf") format("ttf");
    font-weight: bold;
}

*{
    margin: 0px;
    padding: 0px;
}

.title{
    font-family: "work_sans"/*, sans-serif*/;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.NavBar{
    background-color: #325894;
    color: #328594;
    /* width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

.NavText{
    font-family: "work_sans", sans-serif;
    font-size: 100%;
    color: #ffffff;
    display: inherit;
    align-self: middle;
}

.NavContainer{
    /*padding: 10%;*/
    display: inherit;
    height: 100%;
    width: 100%;
    align-items: center;
} 